.navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.14);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}

.navbar-light {
  background: #fff !important;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 376px) and (max-width: 992px) {
  .navbar {
    min-height: 83px;
  }
  #instagram-icon {
    position: absolute;
    top: 28px;
    left: 28px;
  }

  #line {
    position: absolute;
    left: 71px;
  }

  #instagram-word {
    position: absolute;
    top: 9px;
    left: 100px;
  }
}
